@import "tailwindcss";

::selection {
	background-color: #47a3f3;
	color: #fefefe;
}

:root {
	--sh-class: #2d5e9d;
	--sh-identifier: #354150;
	--sh-sign: #8996a3;
	--sh-string: #007f7a;
	--sh-keyword: #e02518;
	--sh-comment: #a19595;
	--sh-jsxliterals: #6266d1;
	--sh-property: #e25a1c;
	--sh-entity: #e25a1c;
	--button-active: #aaa;
	--button-shine: #333;
	--shine-width: 100vw;
	--shine-background: #aaa2;
	--nav-bar-background: #eee9;
	--transitions: opacity 200ms, width 50ms, height 50ms;
}

@media (prefers-color-scheme: dark) {
	@import "highlight.js/styles/github-dark.css";
	:root {
		--sh-class: #4c97f8;
		--sh-identifier: white;
		--sh-keyword: #f47067;
		--sh-string: #0fa295;
		--button-active: #555;
		--button-background: #ccc1;
		--button-shine: #aaa;
		--nav-bar-background: #151515bb;
		--shine-background: #8882;
	}
	html {
		color-scheme: dark;
	}
}
@media (prefers-color-scheme: light) {
	@import "highlight.js/styles/github.css";
}

html {
	min-width: 360px;
}

.prose .anchor {
	@apply absolute invisible no-underline;

	margin-left: -1em;
	padding-right: 0.5em;
	width: 80%;
	max-width: 700px;
	cursor: pointer;
}

.anchor:hover {
	@apply visible;
}

.prose a {
	@apply underline transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
	@apply text-neutral-300 dark:text-neutral-700;
	content: "#";
}

.prose *:hover > .anchor {
	@apply visible;
}

.prose pre {
	@apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 py-2 px-3 text-sm;
}

.prose code {
	@apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
	@apply p-0;
	border: initial;
	line-height: 1.5;
}

.prose code span {
	@apply font-medium;
}

.prose img {
	/* Don't apply styles to next/image */
	@apply m-0;
}

.prose p {
	@apply my-4 text-neutral-800 dark:text-neutral-200;
}

.prose h1 {
	@apply text-3xl font-medium tracking-tight mt-6 mb-2;
}

.prose h2 {
	@apply text-2xl font-medium tracking-tight mt-6 mb-2;
}

.prose h3 {
	@apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h4 {
	@apply text-lg font-medium tracking-tight mt-6 mb-2;
}

.prose strong {
	@apply font-medium;
}

.prose ul {
	@apply list-disc pl-6;
}

.prose ol {
	@apply list-decimal pl-6;
}

.prose > :first-child {
	/* Override removing top margin, causing layout shift */
	margin-top: 1.25em !important;
	margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
	display: none;
}

pre {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

table {
	display: block;
	max-width: fit-content;
	overflow-x: auto;
	white-space: nowrap;
}

.title {
	font-family: var(--fontMomoDisplay);
	letter-spacing: normal;
	font-size: 2rem;
}

.shinyButton {
	margin: 0;
	margin-right: 0.5rem;
	overflow: hidden;
	border-radius: 0.375rem;
	background-color: var(--button-background, #0000);
	box-shadow: 0 5px 20px hsl(0deg 0% 0% / 0.2);
	@media (prefers-color-scheme: dark) {
		box-shadow: none;
	}
}

/*Styling for mobile*/
.shinyButton.touch-active,
.shinyButton:focus-visible {
	background-color: var(--shine-background);
	box-shadow: 0 5px 20px hsl(0deg 0% 0% / 0.2);
	@media (prefers-color-scheme: dark) {
		box-shadow: 0 10px 25px hsl(0deg 0% 50% / 0.2);
	}
}

/*Styling specifically for links within posts*/
.shinyButton.shinyLink {
	display: inline;
	box-shadow: none !important;
	outline: var(--color-neutral-300) solid 1px;
	@media (prefers-color-scheme: dark) {
		outline-color: var(--color-neutral-800);
	}
}

.shinyButton.shinyLink::after {
	display: none;
}

/*Styling of links in posts for mobile*/
.shinyButton.shinyLink.touch-active,
.shinyButton.shinyLink.touch-going,
.shinyButton.shinyLink:focus-visible {
	background-color: var(--button-active);
}

/*Shiny part of shinyButton*/
.shinyButton::after {
	content: "";
	position: absolute;
	top: calc(var(--y, 0) * 1px - var(--shine-width) / 2);
	left: calc(var(--x, 0) * 1px - var(--shine-width) / 2);
	width: var(--shine-width);
	height: var(--shine-width);
	background: radial-gradient(var(--button-shine), transparent 65%);
	opacity: 0;
	@media (prefers-reduced-motion: no-preference) {
		transition: var(--transitions);
	}
}

/*Styling specifically for the sandwich*/
.shinyButton.homeButton {
	mask: url("/icons/favicon.png");
	mask-size: contain;
	mask-repeat: no-repeat;
	padding: 0;
	margin: 4px 8px;
	background: none !important;
}
.shinyButton.homeButton::after {
	background: radial-gradient(transparent, black 17.5%);
}

/*Styling for desktop*/
@media (hover: hover) {
	.shinyButton:hover::after {
		opacity: 0.4;
	}
	.shinyButton:hover {
		background-color: var(--shine-background);
		box-shadow: var(--no-shadow, 0 5px 20px hsl(0deg 0% 0% / 0.2));
		@media (prefers-color-scheme: dark) {
			box-shadow: var(--no-shadow, 0 10px 25px hsl(0deg 0% 50% / 0.2));
		}
	}
	.shinyButton.shinyLink:hover {
		background-color: var(--no-shadow, var(--button-active));
	}
}

/*Styling of shiny bit for mobile*/
.shinyButton.touch-active::after,
.shinyButton.touch-going::after,
.shinyButton:focus-visible::after {
	opacity: 0.4;
}

.fontFiraCode {
	font-family: var(--fontFiraCode);
}
.fontMomo {
	font-family: var(--fontMomo);
}
.fontMomoDisplay {
	font-family: var(--fontMomoDisplay);
}
code {
	font-family: var(--fontFiraCode);
}
h1 {
	@apply mb-2;
}

.navBar {
	@apply md:sticky md:top-8 bg-(--nav-bar-background) px-2 rounded-lg  mb-12 tracking-tight z-20 backdrop-blur-md dark:outline dark:outline-neutral-800;
	box-shadow:
		0 1px 1px hsl(0deg 0% 0% / 0.075),
		0 2px 2px hsl(0deg 0% 0% / 0.075),
		0 4px 4px hsl(0deg 0% 0% / 0.075),
		0 8px 8px hsl(0deg 0% 0% / 0.075),
		0 16px 16px hsl(0deg 0% 0% / 0.075);
	-webkit-box-shadow:
		0 1px 1px hsl(0deg 0% 0% / 0.075),
		0 2px 2px hsl(0deg 0% 0% / 0.075),
		0 4px 4px hsl(0deg 0% 0% / 0.075),
		0 8px 8px hsl(0deg 0% 0% / 0.075),
		0 16px 16px hsl(0deg 0% 0% / 0.075);
}
@media (prefers-color-scheme: dark) {
	.navBar {
		box-shadow:
			0 1px 1px hsl(0deg 0% 30% / 0.075),
			0 2px 2px hsl(0deg 0% 30% / 0.075),
			0 4px 4px hsl(0deg 0% 30% / 0.075),
			0 8px 8px hsl(0deg 0% 30% / 0.075),
			0 16px 16px hsl(0deg 0% 30% / 0.075);
		-webkit-box-shadow:
			0 1px 1px hsl(0deg 0% 30% / 0.075),
			0 2px 2px hsl(0deg 0% 30% / 0.075),
			0 4px 4px hsl(0deg 0% 30% / 0.075),
			0 8px 8px hsl(0deg 0% 30% / 0.075),
			0 16px 16px hsl(0deg 0% 30% / 0.075);
	}
}

.cursorBlink {
	animation: blink 1s infinite;
}

@keyframes blink {
	0%,
	50% {
		opacity: 1;
	}
	51%,
	100% {
		opacity: 0;
	}
}

.animationLayer {
	@media (prefers-reduced-motion: no-preference) {
		animation: fade-in 0.2s ease-in-out;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
